<container>
        <hr>

        <row id="footer-links">
            <columns></columns>

            <columns small="2" large="2">
                <center>
                    <a href="#">
                        <img class="socials-logo" src="/assets/img/fb-logo.png" />
                    </a>
                </center>
            </columns>

            <columns small="2" large="2">
                <center>
                    <a href="#">
                        <img class="socials-logo" src="/assets/img/tw-logo.png" />
                    </a>
                </center>
            </columns>

            <columns small="2" large="2">
                <center>
                    <a href="#">
                        <img class="socials-logo" src="/assets/img/ig-logo.png" />
                    </a>
                </center>
            </columns>
            
            <columns small="2" large="2">
                <center>
                    <a href="#">
                        <img id="apple-logo"  src="/assets/img/apple-app.png" />
                    </a>
                </center>
            </columns>

            <columns small="2" large="2">
                <center>
                    <a href="#">
                        <img id="google-logo"  src="/assets/img/google-app.png" />
                    </a>
                </center>
            </columns>
            <columns></columns>

        </row>
        
        <hr>

</container>

