<container>
        <spacer size="25"></spacer>

        <row>
            <columns small="12" large="12">
                <center>
                    <img id="header-logo" src="/assets/img/gilt-logo.png" />
                </center>
            </columns>
        </row>
        
        <row>
            <columns id="header-menu" small="12" large="12">
                <center>
                    <menu>
                        <item href="#">Women</item>
                        <item href="#">Men</item>
                        <item href="#">Kids</item>
                        <item href="#">Home</item>
                        <item href="#">City</item>
                    </menu>
                </center>
            </columns>
        </row>
</container>

