<container>
        <row class="footer-top">
            <columns small="4" large="4">
                <p><a href="#"> Customer Care</a></p>
            </columns>
            <columns small="4" large="4">
                <p><a href="#">Delivery</a></p>
            </columns>
            <columns small="4" large="4">
                <p><a href="#">Returns</a></p>
            </columns>
        </row>

        <row class="footer-bottom">
            <columns small="12" large="12">
                <p>	
                    To ensure that you keep receiving e-mails from YOOX, add myoox@email.yoox.com to your Address Book.
                    This message was sent to you because you signed up to the YOOX newsletter service with the address <br /> 
                </p>       
                <p>
                    enochjohnsonleon@gmail.com
                </p>	 
                             
                <p>
                    YOOX CORPORATION - 100 5th Ave - 11th Floor New York NY 10011
                </p>
                        
                <p> 
                    <a href="#">Privacy / Unsubscribe</a> 
                </p>
         
            </columns>
        </row>
 
    

        <row class="footer-imgs">
            <columns small="1" large="1">
                <a href="#"><img class="social" src="/assets/img/yoox-img/fb-logo.gif" /></a>
            </columns>
            <columns small="1" large="1">
                <a href="#"><img class="social" src="/assets/img/yoox-img/tw-logo.gif" /></a>
            </columns>
            <columns small="1" large="1">
                <a href="#"><img class="social" src="/assets/img/yoox-img/ig-logo.gif" /></a>
            </columns>
            <columns small="1" large="1">
                <a href="#"><img class="social" src="/assets/img/yoox-img/yt-logo.gif" /></a>
            </columns>
            <columns small="1" large="1">
                <a href="#"><img class="social" src="/assets/img/yoox-img/pt-logo.gif" /></a>
            </columns>
            <columns small="1" large="1">
                <a href="#"><img class="social" src="/assets/img/yoox-img/g-logo.gif" /></a>
            </columns>

            <columns small="3" large="3">
                <a href="#"><img class="stores" src="/assets/img/yoox-img/app-store.gif" /></a>
            </columns>

            <columns small="3" large="3">
                <a href="#"><img class="stores" src="/assets/img/yoox-img/google-store.gif" /></a>
            </columns>
        </row>
    </container>
