<container>
    <row class="newsletter">
        <columns small="12" large="12">
            <p class="text-center" id="newsletter-link">
                    If you have problems viewing this newsletter <a>click here</a>
            </p>
        </columns>
    </row>



    <row class="free-shipping">
        <columns small="12" large="12">
            <img src="/assets/img/yoox-img/free-shipping.gif" />
        </columns>
    </row>

    <row class="yoox-logo">
        <columns small="12" large="12">
            <center>
                <a href="#"><img class="float-center" id="yoox-logo" align="center" src="/assets/img/yoox-img/yoox-logo.gif" /></a>
            </center>
        </columns>
    </row>



    <row class="menu">
        <columns small="12" large="12">
            <menu>
                    <item href="#">New Arrivals</item>
                    <item href="#">Women</item>
                    <item href="#">Men</item>
                    <item href="#">Kids</item>
                    <item href="#">Design + Art</item>
                </menu>
        </columns>
    </row>  
</container>

