<container>
    <row>
        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/fb-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/tw-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/yt-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/eye-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/message-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/ig-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/pin-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/google-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/b-logo.jpg" /></a>
        </columns>

        <columns small="1.2" large="1.2">
            <a href="#"><img src="/assets/img/human-logo.jpg" /></a>
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <center>
                <menu>
                    <item class="footer-menu-item" href="#">FREE SHIPPING</item>
                    <item class="footer-menu-item" href="#">LVR DIARY</item>
                    <item class="footer-menu-item" href="#">CONTACT US</item>
                    <item class="footer-menu-item" href="#">PRIVACY POLICY</item>
                </menu>
            </center>
        </columns>
    </row>

    <row>
        <columns>
                <p class="text-center footer-text">You’ve received this e-mail because you have subscribed to the Luisa Via Roma S.p.A. mailing list or are a valued client.</p> 
                <p class="text-center footer-text">To ensure that you don’t miss any special offers, please add newsletter@reply.luisaviaroma.com to your e-mail address book.</p>

                <p class="text-center footer-text">If you prefer not to receive future e-mails from Luisa Via Roma S.p.A. please click here.</p>

                <p class="text-center footer-text">LUISA VIA ROMA SpA - Via Benedetto Varchi, 61 - 50132 Firenze, Italia. +39 055.28.36.21, VAT number: IT 00607970480</p>
                <p class="text-center footer-text">www.LUISAVIAROMA.COM</p>
        </columns>
    </row>
</container>