<container>
    <row>
        <columns small="12" large="12" >
            <p class="text-center" id="trouble-viewing">Having trouble viewing this e-mail? Please <a href="#">click here.</a></p>
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <img src="/assets/img/free-express.jpg" />
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <center>
                <img id="lvr-logo" src="/assets/img/lvr-logo.png" />
            </center>
        </columns>
    </row>

    <row>
        <columns small="12" large="12">
            <menu>
                <item href="#">Men</item>
                <item href="#">Women</item>
                <item href="#">Kids</item>
                <item href="#">Home</item>
                <item href="#"><span id="sale-item">Sale</span></item>
            </menu>
        </columns>
    </row>
</container>