<container>
    <row>
        <columns></columns>
            <columns class="socials" small="3" large="3">
                <a href="#">
                    <center>
                        <img src="/assets/img/ig.gif" />
                    </center>
                </a>
            </columns>
                            
            <columns class="socials" small="3" large="3">
                <a href="#">
                    <center>
                        <img  src="/assets/img/fb.gif" />
                    </center>
                </a>
            </columns>
                            
            <columns class="socials" small="3" large="3">
                <a href="#">
                    <center>
                        <img src="/assets/img/pin.gif" />
                    </center>
                </a>
            </columns>

            <columns class="socials" small="3" large="3">
                <a href="#">
                    <center>
                        <img src="/assets/img/tw.gif" />
                    </center>
                </a>
            </columns>
        <columns></columns>
    </row>    

    <row>
        <columns class="career-store" small="6" large="6">
            <a href="#">
                <img src="/assets/img/find-a-store.gif" />
            </a>
        </columns>

        <columns class="career-store" small="6" large="6">
            <a href="#">
                <img src="/assets/img/view-careers.gif" />
            </a>
        </columns>
    </row>

    <spacer size="50"></spacer>

    <row>
        <columns class="app-stores" small="12" large="12">
            <a href="#">
                <img src="/assets/img/apple-app.gif" />
            </a>
        </columns>

        <columns class="app-stores" small="12" large="12">
            <a href="#">
                <img src="/assets/img/google-app.gif" />
            </a>
        </columns>
    </row>

    <spacer size="50"></spacer>

    <row>
        <columns>
            <p class="text-center"><a class="black-link" href="#">UNSUBSCRIBE</a> | <a class="black-link" href="#">CUSTOMER SUPPORT</a></p>
            <p class="text-center">Don't miss out, add <a class="blue-link" href="#">email@usa.uniqlo.com</a> to your address book to make sure you get our emails. 
            UNIQLO USA LLC 546-548 Broadway, 3rd floor New York NY 10012 | <a class="blue-link" href="#">UNIQLO.COM</a></p>
            <p class="text-center">*Colors, styles, prices and promotions may vary by location (online and in stores).</p>
        </columns>
    </row>
</container>

