//Header Styling

p#trouble-viewing {
  font-size: 10px;
  color: #525252;

  a {
    color: #525252;
  }
}

span#sale-item {
  color: #FE0008;
}



img#lvr-logo.float-center {
  width: 29%;
}  

th.menu-item a {
  font-size: 12px;
  color: #373535 !important;
  font-family: Helvetica, Arial, sans-serif;
}

//Body Styling

//One Day Only

th.large-6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

th.small-6 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

//Discount

.discount {
  font-size: 12px;
  line-height: .8;
  span {
    font-weight: bold;
  }
}

//Products

#see-something {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}

//New Arrivals

th.large-3 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

th.small-3 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

//Footer

th.menu-item.footer-menu-item.float-center a {
  font-size: 11px !important;
  color: #3e3d40 !important;
}

.text-center.footer-text {
  font-size: 10px;
  color: #3e3d40;
}





  
 
  
